aioice==0.10.2
aiostun==0.6.1
asyncio==4.0.0
cffi==2.0.0
cryptography==48.0.0
customtkinter==5.2.2
darkdetect==0.8.0
dnspython==2.7.0
ifaddr==0.2.0
packaging==26.2
pycparser==2.23
spake2==0.9
tdqm==0.0.1
tk==0.1.0
tqdm==4.67.3
typing_extensions==4.15.0
websockets==15.0.1
